/node_modules

/config/config*.json
CLI.txt
.env

/util/database*.js

models/indexModel.js

public/uploads/activities
public/uploads/activity/*
public/uploads/announcement/*
public/uploads/equipments/*
public/uploads/histories/*
public/uploads/misc/*

models/indexModel.js

tree.md