<body>
    <form id="SignupFormInsurance">
        <h3>保險</h3>
        <div class="form-group">
            <label for="adult">是否成年</label>
            <select class="form-control" id="adult" name="isadult">
                <option value="true">是</option>
                <option value="false">否</option>
            </select>
        </div>
        <div class="form-group">
            <label for="idcardNumber">身分證號碼/護照號碼</label>
            <input type="text" class="form-control" id="idcardNumber" name="idcardnumber" required>
        </div>
        <div class="form-group">
            <label for="nationality">國籍</label>
            <select class="form-control" id="nationality" name="nationality">
                <option value="中華民國">中華民國</option>
                <option value="馬來西亞">馬來西亞</option>
            </select>
        </div>
        <div class="form-group">
            <label for="birthday">生日</label>
            <input type="date" class="form-control" id="birthday" name="birthday">
        </div>
        <div class="form-group">
            <label for="liaison">緊急聯絡人姓名</label>
            <input type="text" class="form-control" id="liaison" name="liaison">
        </div>
        <div class="form-group">
            <label for="liaisonPhone">緊急聯絡人電話</label>
            <input type="text" class="form-control" id="liaisonPhone" name="liaisonPhone">
        </div>
        <div class="form-group">
            <label for="EnglishName">英文姓名</label>
            <input type="text" class="form-control" id="EnglishName" name="engname">
        </div>
        <div class="form-group">
            <label for="idcardImgFront">護照正面</label>
            <input type="file" class="form-control" id="idcardImgFront" name="idcardImgFront">
        </div>
        <div class="form-group">
            <label for="idcardImgFront">護照反面</label>
            <input type="file" class="form-control" id="idcardImgFront" name="idcardImgFront">
        </div>
    </form>
</body>