<body>
    <form id="SignupFormTransport">
        <div class="form-group">
            <label for="Transport">交通方式</label>
            <select class="form-control" id="Transport" name="Transport">
                <option value="自行出發">自行出發</option>
                <option value="需協助安排">需協助安排</option>
                <option value="可協助載人">可協助載人</option>
                <option value="需借用安全帽">需借用安全帽</option>
            </select>
        </div>
    </form>    
</body>