.container{
  box-shadow: 1px 1px 1rem #000000;
  /* background-color: rgba(59, 59, 59, 0.5); */
  background-color: #ebebeb;
}

header{
  /* background-color: #34D399; */
}

nav li{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

